body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/Users/fredmorris/repos/Superflow/images/bckimg.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    opacity: 0.9;
}
/*Header*/
header {
    display: flex;
    height: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 42px;
    font-weight: 900;
    padding-left: 50px;
    justify-content: space-between;
    margin-right: 25px;
    margin-bottom: 100px;
}

ul {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    align-items: flex-start;
    list-style-type: none;
    gap: 24px;
}

a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
/*What is superflow?*/
.super-container {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-left: 150px;
}
.super-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
}
.creates {
    display: flex;
    flex-direction: column;
    list-style-type: square;
}

.list {
    margin-left: 50px; 
}

.list-start {
    font-size: 36px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.logopic {
    width: 300px;
    height: 300px;
}